:root {
	--usersColor: #FFC107;
	--borderSize: 3px;
}

.admin-app {
	width: 100%;
}

.admin-container {
	width: 64%;
	border-left: var(--borderSize) solid var(--usersColor);
	position: relative;
	margin: auto;
	margin-top: 32px;
	padding-bottom: 8px;
}

.admin-form {
	padding-left: 10%;
	width: 100%;
	box-sizing: border-box;
}

.form-toggle {
	max-width: 250px;
}

.form-input {
	margin: 32px 0;
}

.admin-user-header {
	display: flex;
	padding-left: 8px;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.admin-user-info {
	padding-left: 16px;
}

.admin-user-info p {
	font-weight: 300;
	padding-left: 32px;
	font-style: italic;
}

.admin-user-info p:first-child {
	font-weight: 300;
	font-size: 2em;
	margin-bottom: 4px;
}

