:root {
	--width-item: 25%;
	--margin-item: 1%;
	--cols: 4;
}

.media-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
}

.square .media-item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	float: left;
}

.media-item img {
	float: left;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

/*.media-item.square img {
	object-fit: cover;
}*/

.container .media-item:nth-child(4n) {
	margin-right: 0;
}

.media-overlay {
	opacity: 0;
	position: absolute;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, 0.5);
}

.media-overlay-infos {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
}

.media-overlay:hover {
	opacity: 1;
}
