:root {
	--heightToolbar: 48px;
	--overlay: rgba(0,0,0, 0.6);
	--grey: #9E9E9E;
	--red-like: #FE6262;

}

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1200;
	overflow: auto;
	background: rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.lightbox-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

.lightbox-viewer {
	padding: var(--heightToolbar) 0;
}

.lightbox-viewer, .lightbox-infos {
	position: relative;
	height: 100vh;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex: 0 1 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lightbox-infos {
	flex: 0 1 25%;
	box-sizing: border-box;
	background: white;
}

.lightbox-container-medium {
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.lightbox-video {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}


.lightbox-medium {
	display: block;
	position: relative;
	object-fit: contain;
	margin: 0 auto;
	max-width:100%;
	max-height:100%;
}



.lightbox-infos-container {
	width: 100%;
	box-sizing: border-box;
	padding: 24px;
}

.lightbox-controls, .lightbox-toolbar {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;

}

.lightbox-show-hover {
	opacity: 0.2;
	transition: opacity 0.5s 3s;
}

.lightbox-show-hover:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

.lightbox-controls {
	z-index: 101;
}

.lightbox-toolbar {
	height: var(--heightToolbar);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: flex-end;
	z-index: 300;
	flex-wrap: wrap-reverse;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}


.lightbox-infos-top {
	position: relative;
	height: 30px;
	width: 100%;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.button-like {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--grey);
	margin-top: 24px;
	border: 2px solid var(--grey);
	cursor: pointer;
	transition: background 0.3s, border-color 0.3s;
}

.button-like:hover, .liked {
	display: flex;
	color: white;
	background: var(--red-like);
	border-color: var(--red-like);
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: background 0.2s, border-color 0.2s;
}

.divider {
	width: 100%;
	height: 2px;
	background: red;
}

.exif-icon img {
	height: 24px;
	width: auto;
	text-align: right;
	margin-right: 24px;
}

.exif-cell {
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	flex: 2 2 calc(50%);
	height: 28px;
	color: var(--grey);
	line-height: 28px;
	font-style: italic;
}

.exif-cell.exif-icon {
	text-align: right;
	justify-content: flex-end;
	flex: 2 2 calc(30%);
}

.exif-icon:nth-child(3) img, .exif-icon:nth-child(5) img, .exif-icon:nth-child(7) img {
	height: 21px
}
.exif-icon:nth-child(3) img {
	margin-right: 27px;
}


.lightbox-infos-exif {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.tags-list, .tags-list-container {
	display: flex;
	flex: 1 1;
	margin-top: 12px;
	justify-content: flex-start;
	flex-wrap: wrap;
}


@media screen and (max-width: 1400px) {
  .lightbox-container {
    flex-direction: column;
		height: auto;
  }

	.lightbox-infos {
		padding: 0 20%;
		padding-bottom: 12px;
		width: 100%;
		justify-content: flex-start;
		height: auto;
	}

	.exif-cell.exif-icon {
		flex: 2 2 calc(50%);
	}

	.lightbox-infos-container {
		text-align: center;
	}

}

@media screen and (max-width: 700px) {
	.lightbox-infos {
		padding: 0;
	}
}

