:root {
  --colorLink: #EEEEEE;
	--background-on-hover: #424242;
}

.navbar {
	height: 60px;
}

.navbar g {
	height: 100%;
	width: 100%;
}

.navbar .navbar-link {
	height: 100%;
	display: flex;
	padding: 20px;
	align-items: center;
	color: var(--colorLink);;
	justify-content: center;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.navbar-link:hover, .navbar-active {
	transition: background-color 0.2s ease;
	background: var(--background-on-hover);
}

#navbar-logo {
	padding: 10px 40px;
}

#navbar-logo svg {
	height: 100%;
	box-sizing: border-box;
	width: auto;
}
#navbar-logo svg * {
	fill: white;
}

#navbar-logo svg #rabbit {
	fill: none;
	stroke: white;
	stroke-width: 10;
}

.navbar a, .navbar a:visited {
	text-decoration: none;
}

.navigator {
	display: flex;
	margin-left: auto;
}

.navigator-search {
	font-style: italic;
	font-weight: 100;
	cursor: text;
}

#navbar-menu, #navbar-menu g {
	display: flex;
}



@media screen and (max-width: 640px) {
  #navbar-menu {
		display: none;
	}
}

