:root {
	--duration: 0.6s;
}

.progressive-img-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.progressive-img {
	display: block;
	position: relative;
	object-fit: cover;
  width: 100%;
  height: 100%;
	opacity: 0;
	transition: opacity 0 ease-in-out;
	transition-delay: var(--duration);
	visibility: hidden;
}

.progressive-img-visible {
	opacity: 1;
	transition: opacity var(--duration) ease-in-out;
	visibility: visible;
}
