:root {
	--footer-height: 100px;
}

.footer {
	width: 100%;
	height: var(--footer-height);
	background: rgb(33, 33, 33);
	padding: 8px var(--padding-home);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.footer p {
	color: gray;
	font-size: 11px;
	margin: 8px;
	min-width: 200px;
	text-align: center;
}

@media screen and (max-width: 700px) {
  .footer {
		height: calc(var(--footer-height) + 50px);
		flex-direction: column;
	}
}
