@font-face {
	font-family: 'Moonlights on the Beach';
	src: 	url('../../../assets/MoonlightsontheBeach.eot');
	src: 	url('../../../assets/MoonlightsontheBeach.eot?#iefix') format('embedded-opentype'),
				url('../../../assets/MoonlightsontheBeach.woff') format('woff'),
				url('../../../assets/MoonlightsontheBeach.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
	--height: 250px;
	--overlay: rgba(0,0,0, 0.6);
}

.cover {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: var(--height);
	width: 100%;
}

.cover:after {
	content: '';
	position: absolute;
	background: var(--overlay);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.cover img {
	position: relative;
	object-fit: cover;
	width: 100%;
}

.cover-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
	color: white;
}

.cover-content * {
	z-index: 300;
}

.cover-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	color: white;
	font-family: 'Moonlights on the Beach';
	font-weight: 300;
	font-size: 5em;
	font-style: normal;
}

.cover-name {
	font-size: 1.3em;
	font-style: italic;
	font-weight: 100;
}
